//---------------------------------------------------------------------------
//
// Name:        paintApp.rc
// Author:      msi-pc
// Created:     2022/4/22 19:32:08
// Description: 
//
//---------------------------------------------------------------------------

#include <wx/msw/wx.rc>
